<%= render partial: 'boat_banner', object: @boat %>
<div class="container d-flex justify-content-around">
  <div class="boat-details col-6">
    <div class="card-boat-name">
      <div class="card-trip-infos">
        <h1><%= @boat.name %></h1>
        <p><%= @boat.location %></p>
      </div>
      <img src="<%= @boat.user.user_image %>" class="card-trip-user avatar-bordered" />
    </div>
    <hr>
    <div class="card-boat-amenities d-flex">
      <div class="amenity text-center">
        <i class="fas fa-life-ring"></i>
        <h2><%= @boat.capacity %> people</h2>
      </div>
      <div class="amenity text-center">
        <i class="fas fa-ship"></i>
        <h2><%= @boat.boat_type %></h2>
      </div>
    </div>
    <hr>
    <div class="card-description">
      <%= @boat.description %>
    </div>
    <div
      id="boat_map"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
  <%= render 'bookings/booking_form' %>
  <!-- <div class="d-flex justify-content-center align-items-center">

  </div> -->

</div>


